@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/* 1 */
body {
  background-color: #b4b4b4;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background-image: url(../img/pink-flowers.webp);
}

/* 10 */
.wrapper {
  width: 89%;
  margin: 0 auto;
  background-color: #fff;
}
/* 1 */
p {
  color: #1d1b1b;
  font-size: 16px;
  text-indent: 32px;
}
/* 30 */
.header,
.main,
.footer {
  padding: 0 50px;
}
/* 10 */
.header__heading {
  padding-top: 96px;
  margin-bottom: 46px;
  color: #a11414;
  font-size: 32px;
}
/* 10 */
.header__heading--spec {
  font-weight: 700;
  text-transform: uppercase;
}
/* 10 */
.header__img-wrap {
  padding: 14px 13px;
  border: 1px solid #000;
  border-radius: 2px;
  margin-bottom: 57px;
}
/* 11 */
.header__img-wrap img {
  width: 100%;
}
/* 10 */
.section--flx {
  display: flex;
}
/* 10 */
.article__heading {
  color: #a11414;
  font-size: 24px;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 15px;
}
/* 10 */
.nav-wrap {
  width: 29%;
  border-radius: 2px 15px;
  background: #d7d7d7;
  padding: 29px 26px;
  font-family: Arial, Helvetica, sans-serif;
}
/* 10 */
.nav-heading {
  padding-left: 29px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
/* 10 */
.nav__link {
  text-decoration: none;
  padding-top: 24px;
  color: #000;
  padding-left: 29px;
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* 20 */
.nav__link:hover {
  font-weight: 700;
  color: #a11414;
  text-decoration: underline;
}
/* 10 */
.article__text--spec {
  text-transform: uppercase;
}
/* 10 */
.article__text--mod {
  color: #a11414;
}
/* 10 */
.article__text--add {
  text-decoration-line: line-through;
}
/* 10 */
.article__text--edit {
  padding-top: 8px;
  text-indent: 0;
}
/* 10 */
.footer {
  margin-top: 35px;
  padding-bottom: 24px;
}
/* 10 */
.footer__item {
  width: 26%;
  position: absolute;
  left: 30%;
}
/* 10 */
.footer__item--spec {
  color: #403636;
  font-size: 16px;
  font-weight: 700;
}
/* 10 */
.footer__img--mod {
  width: 79%;
  padding-bottom: 0.3%;
}
