@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* Page Sing up */
body {
  width: 100%;
  font-family: "Chakra+Petch", sans-serif;
  background-image: url(../img/back.jpeg);
}

.container-header-form {
  font-weight: 700;
  font-size: 5vmin;
  color: #06121b;
  margin-bottom: 15%;
  color: #eaeaea;
  text-align: center;
}

.container-auth {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.form-flx {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.registration-container {
  width: 45%;
  margin: 5%;
  padding: 2%;
  border-radius: 5%;
  margin-top: 5%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  background-color: #252a34;
}

.form__group {
  margin-bottom: 5%;
  color: #eaeaea;
}

.form__group input {
  width: 100%;
  padding: 2%;
  border: 2.5px solid #06121b;
  cursor: pointer;
}

.form__group--spec {
  width: 100%;
  cursor: pointer;
}

.form__group--spec input {
  width: 50%;
  padding: 2.5%;
  margin-bottom: 7%;
  margin-top: 7%;
}
.form__group--spec input:hover {
  background-color: #ff2e63;
  border: 2px solid #06121b;
  transition: 0.5s ease;
}

.registration-container__log {
  width: 50%;
  margin: 0 auto;
  padding: 2.5%;
  text-decoration: none;
  color: #06121b;
  margin-top: 10%;
  border: 2px solid #06121b;
  background-color: #fff;
}

.registration-container__log:hover {
  cursor: pointer;
  background-color: #ff2e63;
  transition: 0.5s ease;
}

.wrapper__img--spec {
  width: 100%;
}
.img__reg {
  display: block;
  animation: moveForwardAndBackward 4s linear infinite;
}

@keyframes moveForwardAndBackward {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.form__group--edit {
  color: #eaeaea;
  margin-top: 5%;
}

/* Page sing in */

.login-container {
  width: 45%;
  padding: 2%;
  margin: 15%;
  border-radius: 5%;
  margin-top: 5%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  background-color: #252a34;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p .form__group label {
  padding-bottom: 5;
}

.form__group--flex {
  display: inline-block;
  justify-content: center;
}

.form__group--flex label {
  color: #eaeaea;
  user-select: none;
}

.form__group--flex input {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 400;
}

.header__log {
  width: 50%;
  margin: 0 auto;
  padding: 2.5%;
  text-decoration: none;
  color: #06121b;
  margin-top: 10%;
  border: 2px solid #06121b;
  background-color: #fff;
}

.header__log:hover {
  background-color: #ff2e63;
  border: 2px solid #06121b;
  transition: 0.5s ease;
}

/* car_search */

label,
select option {
  display: flex;
  margin: 0 auto;
}

label {
  color: #eaeaea;
  padding-bottom: 2%;
  padding-top: 2%;
}

select {
  cursor: pointer;
  text-align: center;
  width: 65%;
}

.wrapper-imposter {
  width: 50%;
  margin: 5%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 5%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  background-color: #252a34;
}

/* Menu sidebar */

.sidebar {
  display: block;
  position: relative;
  justify-content: start;
  display: inline-block;
}
.sidebar__btn {
  background-color: #252a34;
  color: #eaeaea;
  cursor: pointer;
  margin-right: 1%;
  padding: 50%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  border-radius: 15%;
}

.sidebar__btn:hover {
  background-color: #ff2e63;
  transition: 0.5s ease;
}

.sidebar__drop {
  width: 150px;
  display: none;
  background-color: #252a34;
  border-radius: 5%;
}

.sidebar__drop a {
  display: block;
  color: #eaeaea;
  padding: 5%;
  text-decoration: none;
}

.sidebar:hover .sidebar__drop {
  position: absolute;
  display: block;
  z-index: 999999;
  top: 100%;
}

.sidebar__drop a:hover {
  background-color: #ff2e63;
}
