@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* Page Sing up */
body {
  width: 100%;
  font-family: "Chakra+Petch", sans-serif;
  background-image: url(../img/back.jpeg);
}

.container-auth {
  width: 89%;
  display: flex;
}

.form-flx {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.registration-container {
  width: 20%;
  margin: 5%;
  padding: 7%;
  border-radius: 5%;
  margin-top: 5%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  background-color: #252a34;
}

.header {
  font-weight: 700;
  font-size: 6vmin;
  color: #06121b;
  margin-bottom: 5%;
  color: #eaeaea;
}

.form__group {
  margin-bottom: 5%;
  color: #eaeaea;
}

.form__group input {
  width: 89%;
  padding: 2%;
  border: 2.5px solid #06121b;
  cursor: pointer;
}

.form__group--spec {
  width: 100%;
  cursor: pointer;
}

.form__group--spec input {
  width: 50%;
  padding: 2.5%;
  margin-bottom: 7%;
  margin-top: 7%;
}
.form__group--spec input:hover {
  background-color: #ff2e63;
  border: 2px solid #06121b;
  transition: 0.5s ease;
}

.registration-container__log {
  width: 50%;
  margin: 0 auto;
  padding: 2.5%;
  text-decoration: none;
  color: #06121b;
  margin-top: 10%;
  border: 2px solid #06121b;
  background-color: #fff;
}

.registration-container__log:hover {
  cursor: pointer;
  background-color: #ff2e63;
  transition: 0.5s ease;
}

.wrapper__img--spec {
  width: 50%;
}
.img__reg {
  padding-right: 50%;
  animation: moveForwardAndBackward 4s linear infinite;
}

@keyframes moveForwardAndBackward {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.form__group--edit {
  color: #ff2e63;
  margin-top: 5%;
}

/* Page sing in */

.wrapper__img {
  width: 50%;
}
.img__login {
  padding-left: 20%;
  animation: moveForwardAndBackward 4s linear infinite;
}

@keyframes moveForwardAndBackward {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
.container-auth {
  width: 89%;
  margin: 0 auto;
}
.login-container {
  width: 45%;
  padding: 7%;
  margin: 15%;
  border-radius: 5%;
  margin-top: 5%;
  box-shadow: rgba(255, 46, 99, 0.4) 0px 5px, rgba(255, 46, 99, 0.3) 0px 10px,
    rgba(255, 46, 99, 0.2) 0px 15px, rgba(255, 46, 99, 0.1) 0px 20px,
    rgba(255, 46, 99, 0.05) 0px 25px;
  background-color: #252a34;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-container h2 {
  font-weight: 700;
  font-size: 6vmin;
  color: #06121b;
  margin-bottom: 15%;
  color: #eaeaea;
}

.form__group--flex {
  display: flex;
  text-align: center;
}

.form__group--flex label {
  color: #eaeaea;
  user-select: none;
}

.form__group--flex input {
  margin-left: 5%;
  margin-right: 5%;
}

.header__log {
  width: 50%;
  margin: 0 auto;
  padding: 2.5%;
  text-decoration: none;
  color: #06121b;
  margin-top: 10%;
  border: 2px solid #06121b;
  background-color: #fff;
}

.header__log:hover {
  background-color: #ff2e63;
  border: 2px solid #06121b;
  transition: 0.5s ease;
}
