// Footer
.footer {
  width: 100%;
  background-color: $main-color;
  .footer__wrap {
    display: flex;
    width: 69%;
    border-top: 1px solid $primary-color;
    margin: 0 auto;
    padding-bottom: 5%;
    .footer__col {
      padding-right: 2%;
      .footer__header {
        font-weight: 800;
        font-size: 1rem;
        line-height: 140%;
        color: #000;
        padding-top: 24%;
      }
      .footer__img-item {
        margin: 12% 12% 12% 0;
      }
      .footer__link-item {
        font-style: 12px;
        font-weight: 400;
        line-height: 233%;
        color: #828282;
      }
    }
  }
}

.aside {
  @include flex(row, space-around, center);
  padding: 20px 0;
  background-color: $main-color;
  border-top: 1px solid $primary-color;
  .aside-info {
    .info img {
      padding: 20px;
    }
  }
}
.sides {
  .call__link {
    padding-right: 40px;
  }
}

.more {
  @include flex(row, space-around, center);
  padding: 25px;
  background-color: $primary-color;
  .more__info {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }
}
