* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 2px solid;
  border-radius: 40px;
  padding: 12px 26px;
}

.btn.btn-link {
  color: #fff;
}

.nav,
.nav--main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #efefef;
}

.header {
  background-color: #fff;
}
.header .menu {
  display: flex;
}
.header .menu .menu__item {
  padding: 17px 30px 16px;
}

.nav--main {
  border-top: 1px solid #efefef;
  background-color: #fff;
}
.nav--main .menu__item {
  padding: 30px 1.5%;
}
.nav--main .menu__item .menu__link:hover {
  text-decoration: underline;
}

.sides,
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}
.sides .logo,
.flex-center .logo {
  gap: 20px;
}
.sides .logo-name,
.flex-center .logo-name {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #f13c6e;
  text-transform: uppercase;
}
.sides .call,
.flex-center .call {
  gap: 40px;
}
.sides .call__link,
.flex-center .call__link {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: normal;
  color: #000;
  font-style: normal;
}
.sides .call__btn,
.flex-center .call__btn {
  border-color: #f13c6e;
  background-color: #fff;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

img .banner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cont-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-left: 14.5%;
  color: #fff;
  position: absolute;
  z-index: 2;
}
.cont-banner-text .banner-text {
  width: 50%;
}
.cont-banner-text .banner__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.cont-banner-text .card-btn {
  background-color: #f13c6e;
}

.offers--mod {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5.5%;
  margin: 0 auto;
}
.offers--mod .offers__heading {
  margin-left: 18%;
  padding: 5% 0 2%;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.offers--mod .flex-center {
  justify-content: center;
  background-color: #efefef;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.offers--mod .flex-center .goods__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  gap: 20px;
  padding: 1.5% 2%;
}
.offers--mod .flex-center .goods__item .item-btn {
  background-color: #f13c6e;
  color: #fff;
  cursor: pointer;
}
.offers--mod .flex-center .goods__item .item-name {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #333333;
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  color: #fff;
}

.card-body {
  width: 31.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f13c6e;
}

.text-container {
  padding-left: 9%;
}
.text-container .card__title,
.text-container .card__text {
  padding-bottom: 12%;
}
.text-container .card__title {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}
.text-container .card__text {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 140%;
}
.text-container .card__input {
  width: 100%;
  padding: 4%;
  border: none;
  border-radius: 30px;
}
.text-container .card__input::-moz-placeholder {
  padding-left: 15%;
  color: #c4c4c4;
}
.text-container .card__input::placeholder {
  padding-left: 15%;
  color: #c4c4c4;
}
.text-container .card-btn {
  width: 100%;
  padding: 4%;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #f13c6e;
}

.svg-container {
  padding: 56px 9% 56px;
}

.inner {
  width: 100%;
  padding: 5% 5%;
}

.inner__card {
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  margin: 0 auto;
}
.inner__card .inner__item {
  flex: 1;
  padding: 2% 4%;
  background-color: #fff;
  border: 1px solid #efefef;
}
.inner__card .inner__item .inner__link .inner__img {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #fff;
}
.footer .footer__wrap {
  display: flex;
  width: 69%;
  border-top: 1px solid #efefef;
  margin: 0 auto;
  padding-bottom: 5%;
}
.footer .footer__wrap .footer__col {
  padding-right: 2%;
}
.footer .footer__wrap .footer__col .footer__header {
  font-weight: 800;
  font-size: 1rem;
  line-height: 140%;
  color: #000;
  padding-top: 24%;
}
.footer .footer__wrap .footer__col .footer__img-item {
  margin: 12% 12% 12% 0;
}
.footer .footer__wrap .footer__col .footer__link-item {
  font-style: 12px;
  font-weight: 400;
  line-height: 233%;
  color: #828282;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #efefef;
}
.aside .aside-info .info img {
  padding: 20px;
}

.sides .call__link {
  padding-right: 40px;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #efefef;
}
.more .more__info {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */