.banner {
  width: 100%;
  position: relative;
  .banner {
    width: 100%;
  }
  .cont-banner-text {
    position: absolute;
    top: 94px;
    left: 16%;

    .banner__heading {
      color: $main-color;
      font-size: 3rem;
      font-weight: 700;
    }
    .banner-text {
      display: block;
      color: $main-color;
      margin: 50px 0 50px 0;
    }
  }
}

.card-btn {
  display: block;
  background-color: $accent-color;
}
